body {
    font-family: 'Roboto', sans-serif;
}

.display-3 i {
    color: #fd9727;
}

h2 {
    color: #fd9727;
    font-family: 'Lobster', cursive;
    font-size: 45px;
    font-weight: 300;
    padding: 20px 0 5px 0;
    text-shadow: 2px -1px 0px rgba(47, 128, 150, 1);
    text-align: center;
}

/* ===================================
                SEARCH
=====================================*/
#search_artis {
     padding: 20px;
}

#search_artis .wrapper {
    margin: 0 auto;
}

input {
    border: 1px solid #d6d6d6;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 300;
    padding: 10px 30px;
    width: 100%;
    -webkit-appearance: none;
}

input:focus {
    outline: none;
}

:::-webkit-input-placeholder {
    color: #b8b8b8;
    text-align: center;
}

/* ===================================
                ALBUMS
=====================================*/

#album_list {
    margin-top: 50px;
}

#album_list .album_item {
    background: #f7f7f7;
    border-top: 1px solid #dedede;
    margin-bottom: 25px;
    padding: 20px 0;
    text-align: center;
}

#album_list .album_item .item_tn {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    border-radius: 5px;
    height: 200px;
    margin: 0 auto;
    width: 200px;
}

#album_list .album_item .item_title {
    font-size: 18px;
    padding: 20px 10px;
    text-align: center;
}

#album_list .album_item .item_price {
    color: #009588;
    font-size: 14px;
    text-align: center
}

#album_list .album_item a {
    color: #fff;
    cursor: pointer;
    background: #2196f3;
    border-radius: 50px;
    display: inline-block;
    font-size: 12px;
    margin-top: 20px;
    padding: 5px 10px;
}

#no_match {
    display: none;
    text-align: center;
}